info:
  title: APIFiddle Sample Definition
  version: 0.0.0
  description: Example workspace
tags:
  - name: member
    description: member related stuff
paths:
  /member:
    post:
      tags:
        - member
      summary: Create member
      security:
        - BearerJwt: []
      responses:
        "201":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MemberCreate"
                title: CreateMemberCreated
          description: The request was successful, and a new resource was created.
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerErrror"
      description: Creates a new record of type Member.
      operationId: createMember
      parameters:
        - in: query
          name: data
          required: true
          style: form
          description: ""
          explode: true
          schema:
            $ref: "#/components/schemas/MemberCreate"
          allowReserved: false
  /member/{id}:
    get:
      tags:
        - member
      summary: Get member
      security:
        - BearerJwt: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: The request was successful, and the server has returned the the
            member object in the response body.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerErrror"
      parameters:
        - $ref: "#/components/parameters/id"
      description: Returns a record of type Member.
      operationId: getMember
    put:
      tags:
        - member
      summary: Update member
      security:
        - BearerJwt: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberUpdate"
          description: The request was successful, and the server has returned the updated
            member in the response body.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerErrror"
      parameters:
        - $ref: "#/components/parameters/id"
      description: Updates a record of type Member.
      operationId: updateMember
    patch:
      tags:
        - member
      summary: Patch member
      security:
        - BearerJwt: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberPartialUpdate"
          description: The request was successful, and the server has returned the
            partially updated member in the response body.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerErrror"
      parameters:
        - $ref: "#/components/parameters/id"
      description: Partially updates a record of type Member.
      operationId: partialUpdateMember
    delete:
      tags:
        - member
      summary: Delete member
      security:
        - BearerJwt: []
      responses:
        "204":
          content:
            application/json:
              schema:
                type: "null"
                title: RemoveMemberNoContent
          description: The request was successful, but there is no content to return in
            the response.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerErrror"
      parameters:
        - $ref: "#/components/parameters/id"
      description: Deletes a record of type Member.
      operationId: removeMember
openapi: 3.1.0
servers:
  - url: https://api.ksk-crusader.de/v1
    description: ""
components:
  schemas:
    Member:
      type: object
      required:
        - name
        - discord_id
        - steam_id
        - rank
        - points
        - created_at
        - unit
        - stab
        - membership_type
        - discord_nick
        - updated_at
      properties:
        name:
          type: string
        rank:
          type: string
        stab:
          type: array
          items:
            type: string
        unit:
          type: string
        points:
          type: string
        steam_id:
          type: string
        created_at:
          type: string
        discord_id:
          type: string
        updated_at:
          type: string
        discord_nick:
          type: string
        membership_type:
          type: string
      description: |
        Represantiation of a member
    MemberCreate:
      type: object
      required:
        - name
        - rank
        - points
        - steam_id
        - discord_id
        - unit
        - stab
        - membership_type
        - discord_nick
      properties:
        name:
          type: string
        rank:
          type: string
        stab:
          type: array
          items:
            type: string
        unit:
          type: string
        points:
          type: string
        steam_id:
          type: string
        discord_id:
          type: string
        discord_nick:
          type: string
        membership_type:
          type: string
      x-fiddle-dto-info:
        baseSchemaName: Member
    MemberUpdate:
      type: object
      required:
        - name
        - rank
        - points
        - steam_id
        - discord_id
        - unit
        - stab
        - membership_type
        - discord_nick
      properties:
        name:
          type: string
        rank:
          type: string
        stab:
          type: array
          items:
            type: string
        unit:
          type: string
        points:
          type: string
        steam_id:
          type: string
        discord_id:
          type: string
        discord_nick:
          type: string
        membership_type:
          type: string
      x-fiddle-dto-info:
        baseSchemaName: Member
    MemberSummary:
      type: object
      required:
        - name
        - discord_id
        - steam_id
        - rank
        - points
        - created_at
        - unit
        - stab
        - membership_type
        - discord_nick
        - updated_at
      properties:
        name:
          type: string
        rank:
          type: string
        stab:
          type: array
          items:
            type: string
        unit:
          type: string
        points:
          type: string
        steam_id:
          type: string
        created_at:
          type: string
        discord_id:
          type: string
        updated_at:
          type: string
        discord_nick:
          type: string
        membership_type:
          type: string
      description: A simplified representation of a Member, typically used in list views.
      x-fiddle-dto-info:
        baseSchemaName: Member
    MemberPartialUpdate:
      type: object
      required:
        - name
        - rank
        - points
        - steam_id
        - discord_id
        - unit
        - stab
        - membership_type
        - discord_nick
      properties:
        name:
          type: string
        rank:
          type: string
        stab:
          type: array
          items:
            type: string
        unit:
          type: string
        points:
          type: string
        steam_id:
          type: string
        discord_id:
          type: string
        discord_nick:
          type: string
        membership_type:
          type: string
      x-fiddle-dto-info:
        baseSchemaName: Member
  responses:
    Conflict:
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
      description: The request could not be completed due to a conflict with the
        current state of the resource. Resolve the conflict and try again.
    NotFound:
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
      description: The server cannot find the requested resource. The endpoint may be
        invalid or the resource may no longer exist.
    Forbidden:
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
      description: The server understood the request, but refuses to authorize it.
        Ensure the client has appropriate permissions.
    BadRequest:
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                    - message
                  properties:
                    message:
                      type: string
              message:
                type: string
      description: The server could not understand the request due to invalid syntax.
        The client should modify the request and try again.
    Unauthorized:
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
      description: Authentication is required to access the requested resource. The
        client must include the appropriate credentials.
    InternalServerErrror:
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
      description: The server encountered an unexpected condition that prevented it
        from fulfilling the request. Report the issue to the support team if it
        persists.
  parameters:
    id:
      in: path
      name: id
      style: simple
      schema:
        type: string
      explode: false
      description: discord_id bcs its the primary key of a member
      allowReserved: false
      allowEmptyValue: true
  securitySchemes:
    BearerJwt:
      type: http
      scheme: Bearer
      bearerFormat: Json Web Token (JWT)
